body{

    /* font-family: 'Dongle', sans-serif; */
    /* font-family (stack): Open Sans;*/
    font-size: 15px;

}
    
 .banner-container{
    /* background-color: #DE015A; */
    background-color:#474D5D;

 }

 .banner-column{
     /* background-color:#523A3A; */
     /* background-color:#FF5975; */
     background-color: #a70848af;

 }
 
 .navbar-container{
    top: 0;
    text-align: center;
    position: sticky;
    z-index: 2;
 
 }


 /*-------------About -----------------*/

 .about-container{
    background-color:rgb(16, 105, 121);
    font-size: 25px;
    padding: 30px;
 }

 .btn{
     background:#f5093c;
     border: whitesmoke;
     border-radius: 50px;
     color: #FFF;
    
 }

 .btn:hover{
     background: #060b1a;

 }

 
 /*-------------Education -----------------*/

 .edu-container{
     background-color:#032342;
     padding: 35px;
 }

 .redtype-color{
     /* background-color: mediumslateblue; */
     color: white;
 }

 .circle-edu{
     background-color: rgb(58, 10, 97);
     width: 135px;
     height: 135px;
     border-radius: 60%;
     /* text-align: center; */

 }

 /*-------------Project -----------------*/

 .project-container{
     background-color:#f5093c ;
     padding: 30px;   
 }

 .col-md-3 h1{
     color: aliceblue;
     font-size: 20px;
 }
 .col-md-3 p{
     color: #FFF;
     font-size: 12px;
 }

 /* -------------Portfolio-------------- */

 .protfolio-container{
     background-color:#273746;
     padding: 30px;
 }

  /*-------------Certificate------------ */

  .certificate-container{
    background-color:#16A085;
    padding: 40px;
}

 /* ---------------- contract form------------------ */
 .form-container{
     background-color:#060b1a;
 }

 .contact-box{
     font-size: 75px;
 }
 .inner-form{
     background-color: #585F73;
 }

 .bg-button{
     background-color:#f5093c;
 }
 .bg-button:hover{
    color: rgb(3, 27, 41)!important;
 }

 /* ----------------------footer------------------ */

 .footer{
     background: #6d0837;
     
 }
 
.circle{

    width: 45px;
    height: 45px;
    border-radius: 80%;
    display: inline-block;
    background-color: #FFF;
    font-size: 30px;
    text-align: center;
    color:#2BB3DD;
}

.circle:hover{
    
    background-color:#474D5D;
     
}
 